html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Public Sans';
    background-image: url("../images/mall1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.return {
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* flex-wrap: wrap;  */
    padding: 40px;
    background-color: #D9AFD9;
        background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    opacity: 0.9;
    
}
nav > img {
    max-width: 100px;
    height: 100px;
    object-fit: contain;
}
nav > .nav-items {
    text-align: justify;
}

nav > .nav-items > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:3rem
}
nav>.nav-items>ul>li>img {
    max-width: 40px;
}
nav>.nav-items>ul>li:hover {
    cursor: pointer;
    color: magenta ;
}

input[type=text],
select {
    background: url("../images/magnifying-glass-solid.svg") no-repeat scroll 15px 8px;
    background-size: 25px;
    background-color: white;
    padding: 12px 350px;
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*  -------------------------------------------- Section one -------------------------------------------- */

.section-one {
    display: flex;

}

.section-one > .section-one-part-one {
    padding: 100px;
    width: 25%;
    background-color: #D9AFD9;
        background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    opacity: 0.8;
}

.section-one > .section-one-part-one > .section-one-part-one-container {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-one > .section-one-part-one > .section-one-part-one-container > .category > .contents {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: justify;
    padding: 32px 0px 0px 32px;
    
}

.section-one > .section-one-part-one > .section-one-part-one-container > .filter-by {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-one > .section-one-part-one > .section-one-part-one-container > .filter-by > .type {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.section-one>.section-one-part-one>.section-one-part-one-container>.filter-by>.color {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.section-one > .section-one-part-two {
    padding: 50px;
    width: 75%;
}

.section-one>.section-one-part-two > .title {
    padding: 10px;
    font-size: 2rem;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    opacity: 0.8;
    text-align: center;
}

.section-one > .section-one-part-two > .contents > .card {
    max-width: 400px;
    border-radius: 10px;
    background-color: white;
    
}
.section-one>.section-one-part-two>.contents>.card:hover {
    scale: 1.1;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.section-one>.section-one-part-two>.contents>.card > .content-spacing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.section-one>.section-one-part-two>.contents>.card>.content-spacing > img {
    max-width: 20px;
}
.section-one>.section-one-part-two>.contents>.card > .icon {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30px;
    padding: 10px 0px 0px 10px;
}
.section-one > .section-one-part-two > .contents > .card > img {
    max-width: 300px;
    height: 80%;
    object-fit: contain;
}

.section-one > .section-one-part-two > .contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.footer {
    background-color: hsl(233, 26%, 24%);
    color: white;

}

.footer>.footer-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    width: 100%;
}

.footer>.footer-content>.footer-part-one {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 3rem;
}

.footer>.footer-content>.footer-part-one>.col-1 {
    margin-top: auto;
    margin-bottom: auto;
}

.footer>.footer-content>.footer-part-one>.col-1>.logo  > img{
   
        max-width: 100px;
        height: 100px;
        object-fit: contain;

}

.footer>.footer-content>.footer-part-one>.col-1>.other-logos>img {
    padding-right: 5px;
}

.footer>.footer-content>.footer-part-one>.col-1>.other-logos>img:hover {
    filter: invert(71%) sepia(28%) saturate(700%) hue-rotate(82deg) brightness(87%) contrast(70%);
}

.footer>.footer-content>.footer-part-one>.col-2>ul>li {
    padding: 10px;
}

.footer>.footer-content>.footer-part-one>.col-3>ul>li {
    padding: 10px;
}

.footer>.footer-content>.footer-part-one>.col-2>ul>li:hover,
.footer>.footer-content>.footer-part-one>.col-3>ul>li:hover {
    cursor: pointer;
    color: #31d35c;
}




/* Media width */

@media screen and (max-width:420px) {
    
    input[type=text],
        select {
            padding: 12px 100px;
        }
    nav {
        padding: 30px;
        flex-wrap: wrap;
        gap: 2rem;
    }
    nav>.nav-items>ul>li>img {
        max-width: 30px;
    }
    nav>.nav-items>ul {
        gap: 3rem;
    }

    .section-one > .section-one-part-one {
        padding: 0px;
        display: none;
    }
    .section-one > .section-one-part-two {
        width: 100%;
    }
    .section-one>.section-one-part-two>.title {
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .section-one>.section-one-part-two>.contents>.card:hover {
        scale: 1.2;
        transition: 0.5s;
    }

    .section-one>.section-one-part-two>.contents>.card>img {
        max-width: 300px;
        height: 80%;
        object-fit: contain;
    }

    .section-one>.section-one-part-two>.contents>.card {
        
        max-width: 300px;
        border-radius: 10px;
        background-color: white;
    }
    .section-one>.section-one-part-two>.contents {
        justify-content: center;
        gap: 3rem;
    }
    .footer {
        text-align: center;
    }

    .footer>.footer-content>.footer-part-one {
        width: 100%;
        flex-direction: column;
        gap: 0.7rem;
        padding-bottom: 30px;
    }

}